<!DOCTYPE html>
<html lang="en" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styleSheet.css">

</head>
<body>
<div class="background">
<div class="page">
<!--    <div class="headder">
        <p><a href="#">Home</a></p>
        <p><a href="#">About</a></p>
        <p><a href="#">CV</a></p>
    </div>-->
    <div class="foto">
        <img src="../static/IMG_20210818_172017-kopi.jpeg" alt="self" width="200px" height="200px">
    </div>

    <a href="#" class="about-text-box">
        <h1>About</h1>
    </a>

    <a href="#" class="cv-text-box">
       <h1>CV</h1>
    </a>
    <a href="#" class="projekter-text-box">
        <h1>Projekter</h1>
    </a>

</div>
</div>
</body>
</html>